<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="/css/style.css"> <!-- Link to external CSS -->
</head>
<body>
    <main>
        <article {{ if eq .Params.layout "custom" }} class="custom-article" {{ end }}>
            <header>
                {{ if not .IsPage }}
                    <h1 class="{{ if eq .Params.layout "custom" }}custom-title{{ end }}">{{ .Title }}</h1>
                {{ end }}
                {{ if eq .Params.layout "custom" }}
                    <p class="custom-meta">Published on {{ .Date.Format "2006-01-02" }}</p>
                {{ end }}
            </header>
            <section class="{{ if eq .Params.layout "custom" }}custom-content{{ end }}">
                {{ .Content }}
            </section>
            {{ if and (eq .Params.layout "custom") .Params.author }}
                <footer class="custom-footer">
                    <p>Written by: <strong>{{ .Params.author }}</strong></p>
                </footer>
            {{ end }}
        </article>
    </main>
</body>
</html>